@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Pangolin&family=Poppins:ital,wght@1,300&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;

    font-family: 'Pangolin', cursive;
    box-sizing: border-box;
}

.navbar{
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: repeat(2,1fr);
    background-color: rgb(134, 179, 251);
    border-bottom: 1.5px solid black;
    padding: 10px;
    height: auto;
    
}

.navbar__logo{
    display: flex;
    align-items: center;
    font-size: 160%;
    font-weight: bold;
    padding-left: 5%;
}

.navbar__logo__img{
    border-radius: 50%;
    width: 70px;
    transition: 0.3s;
}

.navbar__logo__img:hover{
    transform: scale(1.1);
}

.navbar__tittle{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.navbar__tittle:hover{
    font-size: 115%;
    color: #000;
}

.navbar__nav{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0 20px 0 0;
    
}

.navbar__nav__item{
    place-self: center;
    padding: 0 20px;
}

.navbar__nav__item__links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 135%;
    font-weight: 400;
    transition: 0.3s;
}
.navbar__nav__item__links:hover{
    font-size: 150%;
    color: #000;
}

.main__tittle{
    text-align: center;
    font-size: 500%;
}

.main__content{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
}
.main__parrafo{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 220%;
}
.main__img{
    height: 650px;
}

.footer{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0;
    height: auto;
    background-color: #000627;
}

.footer__item{
    display: flex;
    width: 100%;
    list-style: none;
    margin:0;
    justify-content: space-evenly;
    padding: 0;

}

.footer__item__content{
    padding: 0 3% 0 0;
}

.footer__copyright{
    color: rgb(255, 255, 255);
    margin: 0;
}
.footer__links{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.footer__img{
    height: 20px;
    padding-right: 5px;
}

.footer__item__content:hover{
    transform: scale(1.2);

}



@media screen and (max-width: 800px){
    .navbar{
        display:flex;
        flex-direction: column;
    }
    .navbar__logo{
        justify-content: center;
        padding: 0;
    }
    .navbar__nav{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .main__tittle{
        text-align: center;
        font-size: 200%;
    }
    .main__content{
        display: flex;
        flex-direction: column;
    }

    .main__parrafo{
        text-align: justify;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 100%;
    }
    .main__img{
        display: none;
    }

    .footer{
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 5px;
    }
    .footer__item__content{
        padding: 5px;
    }
}
